<nav>
	<a class="editor-link btn" href="cloudcannon:collections/_data/navigation.yml" class="btn"><strong>&#9998;</strong> Edit navigation</a>
	

	
	
	<div class="select">
	     <select class="slct">
		{% for language in site.data.languages %}	
		     <option value={{language}}>{{ language.icon }} {{ language.label }}</option>
		{% endfor %}	   
<!-- 		<option value="Српски">🇷🇸 Српски</option>
		<option value="English">🇬🇧 English</option> -->


	     </select>      
	</div>
	
	{% for link in site.data.navigation %}
	{% assign class = "" %}

		{% if link.link == page.url %}
			{% assign class = class | append: " active" %}
		{% endif %}
		<a href="{% include relative-src.html src=link.link %}" class="{{ class }}">{{ link.name }}</a>
	{% endfor %}
</nav>
