<nav>
	<a class="editor-link btn" href="cloudcannon:collections/_data/navigation.yml" class="btn"><strong>&#9998;</strong> Edit navigation</a>
	
<!-- 	    {% assign posts=site.posts | where:"lang-ref", page.lang-ref | sort: 'lang' %}

<!-- 	    {% if posts.size == 0 %}
		{% assign posts=site.pages | where:"lang-ref", page.lang-ref | sort: 'lang' %}
	    {% endif %}
	    {% if posts.size > 1 %} -->
		   
<!-- 		<em>{{ site.data.translations['differentLanguage'][page.lang] }}:</em>
		<ul>
			{% for post in posts %}
				<a title="{{ site.data.translations['viewIn'][page.lang] }} {{ site.data.languages[post.lang].label }}" class="{{post.lang}}" href="{{ site.base-url }}{{ post.url }}">{{ site.data.languages[post.lang].icon }} {{ site.data.languages[post.lang].label }}</a></li>
			{% endfor %}
		</ul>
		     -->
<!-- 	    {% endif %} --> -->
	
	{% for language in site.data.languages %}		
		<a title="{{ site.data.translations['viewIn'][language] }} {{ site.data.languages[language].label }}" class="{{language}}" >{{ site.data.languages[language].icon }} {{ site.data.languages[language].label }}</a>
	{% endfor %}
	
	{% for link in site.data.navigation %}
	{% assign class = "" %}

		{% if link.link == page.url %}
			{% assign class = class | append: " active" %}
		{% endif %}
		<a href="{% include relative-src.html src=link.link %}" class="{{ class }}">{{ link.name }}</a>
	{% endfor %}
</nav>
